div.calculadora{
    width: 300px;
    margin: auto;
    background: linear-gradient(360deg, rgba(104,11,200,1) 26%, rgba(224,0,255,1) 100%);;
    padding: 15px;
    padding-top: 0;
    border-radius: 15px;
    box-shadow: #00000094 0px 2px 3px 2px;
    font-family: fantasy;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

div.topo{
    text-align: end;
    height: 45px;
    padding: 5px 0;
}

div.topo img{
    height: 170%;
   
}

div.display{
    height: 90px;
    width: 95%;
    margin: auto;
    background-color: rgb(179, 195, 201);
    border-radius: 11px;
    color: #011017;
    font-size:15px
     
}:hover {
    color:orangered
}

div.tempo{
    padding: 5px 3px;
}

span.hora{
    margin-left:8px
}

div.expressao{
    text-align: right;
    font-size: 32px;
    padding: 0 6px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x:scroll;
    width: calc(100% - 12px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div.expressao::-webkit-scrollbar{
    display: none;
}

div.previa{
    text-align: right;
    padding-right: 6px;
}


div.calculadora table{
    margin-top: 23px;
    border-spacing: 9px;
}

.laranja{
    background-color: rgb(179, 195, 201);
    color: orangered;
}

td.apagar{
    font-family: 'Material Icons';
}

td{
    box-shadow: #00000087 0px 0px 2px 2px;
    background-color: black;
    height: 45px;
    width: 49px;
    border-radius: 8px;
    text-align: center;
    color: #d9d9d9;
    cursor: pointer;
    font-size: 25px;
}

td:active{
    filter: brightness(0.6)
}